
.new_post {
    grid-area: new_post;
    height: 100px;
    width: 160%;
    margin-bottom: 10px;
}

.text_area{
    background: #dddddd;
    border: none;
}

.posts {
    grid-area: posts;
}

.post_btn {
    padding-right: 50px;
    padding-left: 10px;
    color: white;
    margin-top: 10px;
    margin-right: 25px;
    background: #229642;
    font-size: 18px;
}

.post_btn:hover {
    background: #1f833a;
}

.post_btn_wrapper {
    text-align: right;
}